<p>Chào mừng <%= name %>, </p>
<p>Cảm ơn bạn đã đăng ký sử dụng hệ thống chúng tôi.</p>
<p>Đây là đường dẫn mà hệ thống đã tạo cho bạn: http://tntccs.infotechacademy.vn/<%= domain %> </p>
<p>Nếu có bất kỳ câu hỏi này, hãy liên hệ qua email này. </p>